<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Viteのテストだよ</title>
  <link href="/style.scss" rel="stylesheet">
</head>

<body>
  <header>
    <a href="/">HOMEへ戻る</a>
  </header>

  <article>
    {{ content | safe }}
  </article>

  <footer>
    &copy; 知恵蔵.com
  </footer>
</body>
</html>